@import 'generic.css';
:root {
    --primary-color: #1dd;
    --font-family-1: 'consolas';
}

body{
    color: #fff;
    background-color: #001;
    font-family: var(--font-family-1);
}

#welcome {
    background-image: url("../img/andGodSaidLetThereBeLight.jpg");
    background-attachment: fixed;
}