@import 'generic.css';
:root {
    --primary-color: #1dd;
    --font-family-1: 'consolas';
}

html {
    scroll-behavior: smooth;
}

body{
    color: #fff;
    background-color: #001;
    font-family: var(--font-family-1);
    padding: 0%;
    margin: 0%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.right {
    text-align: right;
}

.border {
    border: 1px solid;
}

.container {
    width: auto !important;
}

.round {
    border-radius: 50%;
}

button[type='submit'] {
    border-style: none;
    outline: none;
    color: #fff;
    font-family: var(--font-family-1);
}

form input {
    padding: 1rem;
    margin: .5rem;
    outline: none;
    background-color: #00000a;
    color: var(--primary-color);
    border: none;
    border-bottom: 2px solid #1dd4;
}

header {
    background-color: #0017;
    position: fixed;
    left: 0%;
    right: 0%;
}

#welcome {
    min-height: 92vh;
    background-image: url("../img/andGodSaidLetThereBeLight.jpg");
    background-attachment: fixed;
    background-position: top left;
}

.btn {
    background-color: var(--primary-color);
    box-shadow: 0px 0px 0px 5px #1dd4, inset 0px 0px 0px 5px #0bb2b2;
    margin: 1.5rem;
    padding: 1rem;
}

#go-to-bottom {
    width: fit-content;
    display: block;
    padding: 1em;
    color: var(--primary-color);
    font-size: x-large;
}

.text-glow {
    text-shadow: 0px 0px 10px bisque;
}

footer,
#articles {
    background-color: #00000a;
}

footer {
    box-shadow: 0px 0px 0px 2px #1dd4;
}